@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    input,select,textarea {
      @apply py-2 px-4 rounded-lg border-2  outline-blue focus:shadow-md ;
    }
    
   body {
    @apply text-black;
   }
   label {
    @apply text-slate-500;
   }
  }


  .overflow-x-auto {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer/Edge */
    overflow: -moz-scrollbars-none; /* Firefox */
  }
  
  
  .overflow-x-auto::-webkit-scrollbar {
    display: none;
  }
  

  .overflow-x-auto {
    overflow-x: auto;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
body, main{
    margin:0px;
    padding: 0px;
   

}
html *{
    
    font-family: 'Poppins', sans-serif;
   
    
}
h1,h2,h3 {
   
    font-weight: bold;
    padding: 0px;
    margin: 0px;
 
}

h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.2;
    
    
}
h2 {
    font-size: 36px;
    font-weight: 600;
    line-height: 1.2;
}
h3 {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
}


p {
    font-size: 18px;
    line-height: 1.2;
    padding: 0;
    margin: 0;
    
}
li {
    font-size: 20px;
    line-height: 1.5;
    cursor: pointer;
}
@media only screen and (max-width: 1280px) {
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 28px;
    }
    h3 {
        font-size: 20px;
    }
    p {
        font-size: 16px;
        line-height: 28px;
    }
}

